<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="<%=baseURL%>/" class="header item">
      <img alt="logo" class="logo" src="<%=baseURL%>/images/logo.png">
      SquirrelChat
    </a>
    <% if (req.session.user_id) { %>
    <a href="<%=baseURL%>/message/public" class="item">Chatroom</a>
    <% } %>
    
    <div class="right menu">
      <% if (req.session.user_id) { %>
      <div class="header item">Welcome, <%= req.session.username -%></div>
      <a href="<%=baseURL%>/logout" class="item">Logout</a>
      <% } else { %>
      <a href="<%=baseURL%>/login" class="item">Login</a>
      <a href="<%=baseURL%>/register" class="item">Register</a>
      <% } %>
    </div>
  </div>
</div>