
<%- include('components/header'); -%>

<div class="ui main text container">
    <div class="ui placeholder basic segment">
        <div class="ui icon header">
            <i class="exclamation triangle icon"></i>
            Awwww... something bad happened: <br/>
            <small><%= error.status %> <%= message %></small>
        </div>
        <a href="<%=baseURL%>/" class="ui primary button">Back Homepage</a>
    </div>
    <!--
    <%= error.stack %>
    -->
</div>

<%- include('components/footer'); -%>
