<%- include('components/header'); -%>

<div class="ui main text container">
  <h1 class="ui header">SquirrelChat</h1>

  <% if (req.session.user_id) { %>
    
    <p>Welcome back, <%= req.session.username -%>! I'm pleased to see you.</p>

    <h2>SquirrelMaster</h2>
    <img class="ui fluid image" alt="The squirrel master" src="<%=baseURL%>/images/index.jpg" />
    <p><small>Photo of the squirrelmaster by <a href="https://www.flickr.com/photos/193155969@N08/51235414500/" target="_blank" rel="noopener noreferrer">jakob.liew</a> <a href="https://creativecommons.org/licenses/by-sa/2.0/deed.en" target="_blank" rel="noopener noreferrer">[CC BY-SA 2.0]</a></small></p>

    <h2>Community Alerts</h2>

    <h3>Danger level</h3>
    <div class="ui active progress red">
      <div class="bar" style="width:70%"><div class="progress">Dangerous</div></div>
    </div>
    <p><strong>[WEATHER]</strong> Sections such as the Great Plains and Rocky Mountains are currently experiencing strong and intense rain, snow, and heavy winds.</p>

    <h3>Food inventory</h3>
    <div class="ui active progress green">
      <div class="bar" style="width:90%"><div class="progress">90%</div></div>
    </div>
    <p>We have 12-month of food in our distributed inventory, but well, who doesn't want more?</p>

    <h4>Food distribution</h4>
    <p>In the case of food shortage, visit the nearest food inventory for food. We are providing locally produced, locally sourced food. We also distribute our imported produce so that everyone from farm to barter can see the source supply. The supply of food is to be distributed out by mail, while food inventory is to be collected by wire transfer.</p>

    <h3>Community population</h3>
    <div class="ui active progress olive">
      <div class="bar" style="width:60%"><div class="progress">Mild</div></div>
    </div>
    <p>We are expanding our Squirrel community and if you know your friends aren't here, tell them!</p>
    <p>Our Squirrel Team is looking for a Squirrel that is good in Squirrel language so that we can do our very best on the real time communication message board.
    <p>We have a strong sense of tradition and a passion for doing things that suit everyone... and they do it well. That says a lot about a Squirrel community! If you are a new user and would like to know more please feel free to get in touch here and let us know - We are here to find one good candidate.</p>
    <p>Any additional candidates will require very extensive training from you for this project to succeed and you will definitely require some practice and training in the subject matter. This will be our most challenging project. We'll be working on a lot of information, many of them from scratch. We want you to be part of the great "Spark, Squirrel" team and see the future of this project! Please feel free to contact us or read on.</p>
  
  <% } else { %>

  <p>Welcome to OUR public BBS.</p>
  <p>The BBS facilitate effective communication in the squirrel community, exchanging real-time information about near by nuts, threats, COVID, global warming, and what not.</p>

  <img class="ui fluid image" alt="The squirrel master" src="<%=baseURL%>/images/index.jpg" />
  <p><small>Photo of the squirrelmaster by <a href="https://www.flickr.com/photos/193155969@N08/51235414500/" target="_blank" rel="noopener noreferrer">jakob.liew</a> <a href="https://creativecommons.org/licenses/by-sa/2.0/deed.en" target="_blank" rel="noopener noreferrer">[CC BY-SA 2.0]</a></small></p>

  <p>Login with your SquirrelID to continue.</p>
  
  <% } %>
  
</div>

<%- include('components/footer'); -%>
