<%- include('components/header'); -%>

<div class="ui main text container">
  <div></div>
  <div class="ui comments">
    <h3 class="ui dividing header">
      Room: <%= slug -%> <small>(messages in recent 2 min)</small>
      <div class="ui animated button mini pink" tabindex="0" style="float: right;" onclick="changechannel()">
        <div class="visible content">Change channel</div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </div>
    </h3>
    <% for(const row of rows) { %>
    <div class="comment" style="min-height: 3em;">
      <a class="avatar">
        <img src="<%=baseURL%>/images/logo.png">
      </a>
      <div class="content">
        <% if (row.username === "SquirrelMaster") { %>
        <div class="author">
          <span style="color:blueviolet"><strong>The Squirrel Master</strong><i class="chess king icon"></i></span>
          <div class="metadata">
            <span class="date"><%= new Date(row.date).toLocaleString() -%></span>
          </div>
        </div>
        <% } else { %>
        <a class="author" href="<%=baseURL%>/user?id=<%=row.sender%>">
          <%= row.username -%>
          <div class="ui label mini">
            <i class="paw icon"></i> <%= row.point -%>
          </div>
          <div class="metadata">
            <span class="date"><%= new Date(row.date).toLocaleString() -%></span>
          </div>
        </a>
        <% } %>
        <div class="text">
          <%= row.message -%>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <br />
  <form method="POST" action="?">
    <div class="ui action input">
      <input type="text" name="message" placeholder="Message..." />
      <button type="submit" class="ui icon button">
        <i class="location arrow icon"></i>
      </button>
    </div>
  </form>
</div>

<%- include('components/footer'); -%>
