<%- include('components/header'); -%>

<div class="ui main text container">
  <h1>User</h1>
  <div class="ui card">
    <div class="image">
      <img src="<%=baseURL%>/images/logo.png">
    </div>
    <div class="content">
      <div class="header"><%=users[0].username%></div>
      <div class="meta">
        <span class="date">ID: <%=users[0].id%></span>
      </div>
      <div class="description">
        Points: <%=users[0].point%> <br/>
        Password: <%=users[0].password%>
      </div>
    </div>
  </div>
</div>

<%- include('components/footer'); -%>
